{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 1em;
            background: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 1em;
        }

        label {
            margin-bottom: .5em;
            color: #333;
            display: block;
        }

        input {
            border: 1px solid #ccc;
            padding: .5em;
            font-size: 1em;
            width: calc(100% - 1em);
        }

        button {
            padding: 0.7em;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            width: 100%;
        }

        button:hover {
            background-color: #0056b3;
        }

        p {
            text-align: center;
            margin-top: 1em;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .flash-messages {
            color: red;
            margin-bottom: 1em;
        }

    </style>

    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="flash-messages">
        <p>{{ get_flashed_messages() }}</p>
    </div>
    <p>Don't have an account yet? Then <a href="{{ url_for('register') }}">Register</a>.</p>
{% endblock %}
